.holder {
    display: flex;
	justify-content:center;
	align-items:center;
    width: 100vh;
   
}

.item-1 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color:red;
}